<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Drawer
    </super-navbar-title>
  </super-navbar>

  <div class="list">

    <super-navigate view-id="" class="item item-icon-right" ng-click="supersonic.ui.drawers.close()">
      My Account
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>

    <super-navigate view-id="" class="item item-icon-right" ng-click="supersonic.ui.drawers.close()">
      Notification
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>

    <super-navigate view-id="" class="item item-icon-right" ng-click="supersonic.ui.drawers.close()">
      Log Out
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>

    <super-navigate id="settings" location="Good4Trade#settings" class="item item-icon-right" ng-click="supersonic.ui.drawers.close()">
      Settings
      <i class="icon icon-accessory super-chevron-right"></i>
    </super-navigate>

    
  </div>

</div>