<div ng-controller="IndexController">
  <super-navbar>
  	    <super-navbar-title>
  	      Add your item
  	    </super-navbar-title>
  </super-navbar>

  <label class="item item-input item-stacked-label">
      <span class="input-label">Title</span>
      <input type="text" ng-model="newItem.title"/>
  </label>
  
  <label class="item item-input item-stacked-label">
      <span class="input-label">Description</span>
      <input type="text" ng-model="newItem.description"/>
  </label>

  <label class="item item-input item-stacked-label">
      <span class="input-label">What would you like to trade for?</span>
      <input type="text" ng-model="newItem.wishlist"/>
  </label>

  <label class="item item-input item-stacked-label">
      <span class="input-label">Phone Number</span>
      <input type="text" ng-model="newItem.userID"/>
  </label>

  <button ng-click = "getPicture()" class="button button-block button-positive">
	     Add Picture
  </button>

  <br>
  <img id = 'myImage'/> 

  <button ng-click="addItem()" width=400 height=500 class="button button-block button-positive">Add Item</button>
  <p id="test"></p>

</div>	
