<div ng-controller="IndexController">
<super-navbar>
	<!--
	<super-navbar-button ng-click="cancel()">
			Cancel
		</super-navbar-button>
	-->
	    <super-navbar-title>
	      Add your item
	    </super-navbar-title>


      <super-navbar-button class="item-icon-right" side="right" location="Good4Trade#signup">
        <h3> signup </h3> 
      </super-navbar-button>
</super-navbar>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Title</span>
    <input type="text" ng-model="newItem.title"/>
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">Description</span>
    <input type="text" ng-model="newItem.description"/>
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">What do you want to trade for?</span>
    <input type="text" ng-model="newItem.wishlist"/>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Leave your phone number so people can contact you</span>
    <input type="text" ng-model="newItem.userID"/>
  </label>
<button ng-click = "getPicture()" class="button button-block button-positive">
	     Add Picture
   </button>
<!--
  <label class="item item-input item-stacked-label">
    <span class="input-label">Upload Image <br></span>
    <input type="file" name="file" id="uploadFile" />
  </label>
  -->

  <br>
  <img id = 'myImage' data-ng-src="savedImage"/> 

  <button ng-click="saveImage()" width=400 height=500 class="button button-block button-positive">Save</button>
  <p id="test"></p>
<!--<form name="addItemForm">
  Title
  <input type="text" name="title" ng-model="newItem.title" />
  Description
  <input type="text" name="description" ng-model="newItem.description" />
  Attach Image
  <input type="file" name="picture" ng-model="newItem.picture"/>
  
</form>
    --> 
<!--
	<div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Last Name">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Comments"></textarea>
	  </label>
	</div>

	<button ng-click = "getPicture()" class="button button-block button-positive">
	     Add Picture
	</button>
	
	<img id = 'base64image' data-ng-src="savedImage"> </img>
-->
</div>	
