
<div ng-controller="IndexController">
    <super-navbar>
     <!--
      <super-navbar-button ng-click="cancel()">
        Cancel
      </super-navbar-button>
    -->
      <super-navbar-title>
        Menu
      </super-navbar-title>
    </super-navbar>

      <div class="list">

        <a class="item item-icon-left" href="#">
          <i class="icon super-android-contact"></i>
          My Profile
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon super-chatbubble-working"></i>
          Informations
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon super-film-marker"></i>
          My Items
        </a>


    <super-modal-show location="Good4Trade#addItem">
        <a class="item item-icon-left" href="#">
          <i class="icon super-film-marker"></i>
          Add item
        </a>
  </super-modal-show>

        <a class="item item-icon-left" href="#">
          <i class="icon super-android-contacts"></i>
          Friends
          <span class="badge badge-assertive">0</span>
        </a>

      </div>