<!--
-->
<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Good4Trade
    </super-navbar-title>

    <!--
    <super-navbar-button class="item-icon-right" side="right" location="Good4Trade#mapView">
     Map View
    </super-navbar-button>
    -->
    
    <super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
    <super-navbar-button class="item-icon-right" side="right" location="Good4Trade#addItem">
     Add
    </super-navbar-button>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

  <div style="text-align: center">
    <button class="button button-clear button-calm" ng-click="refresh()">
            click to refresh
    </button>
  </div>

  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon super-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="keyword">
    </label>
  </div>  

    <div ng-repeat="mitem in items|filter:keyword" class="list card">
    	<super-navigate location="Good4Trade#itemDescription" data-params-id="{{mitem.id}}">
    		<div class="item item-thumbnail-left item-button-right">
    			<img class="full-image" src={{mitem.picture}}>
    			<h2>{{mitem.title}}</h2>
    			<p style="white-space: nowrap; width: 10em">{{mitem.description}}</p>
      			<div class="buttons">
        			<div class="col col-center padding-top">
          				<super-navigate location="Good4Trade#items" data-params-id="{{mitem.id}}">
            				<button class="button icon-left super-arrow-swap button-clear button-large button-calm">
            	 				Trade 
            				</button>
          				</super-navigate>
        			</div>
      			</div>
    		</div>
    	</super-navigate>
     </div>

  </div>

</div>

