
<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Good4Trade
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
	 <!--
<p id="item-list"></p> 
-->
<a ng-repeat="mitem in items" class="item item-thumbnail-left item-button-right" href="#">
	<img   src= {{mitem.url}}>
        <h2 > {{mitem.title}}</h2>
        <p > {{mitem.description}}</p>
        <div class="buttons">
          <div class="col col-center padding-top">
            <super-modal-show location="Good4Trade#items">
              <button class="button button-large button-outline button-balanced">
                Trade 
              </button>
            </super-modal-show>
          </div>
        </div>
      </a>
<!--
      <super-navigate location="tinder#show" data-params-id="{{ tinder.id }}" ng-repeat="tinder in tinders">
        <a class="item item-thumbnail-left item-button-right" href="#">
            <div class="col-top">
              <button class="button button-icon button-clear button-energized" id="like-check" ng-class="{'icon super-ios7-checkmark': like, 'icon super-ios7-checkmark-outline': !like}" ng-click="like=!like ; remove(tinder.id)">
            </button>
              <br>
              <button class="button button-icon button-clear button-assertive" id="like-x" ng-class="{'icon super-ios7-close': liked, 'icon super-ios7-close-outline': !liked}" ng-click="liked=!liked ; remove(tinder.id)"> </button>
            </div>
          </div>
        </a>
      </super-navigate>
-->

  </div>

</div>

