<div ng-controller="IndexController">
	<super-navbar>
	    <super-navbar-button ng-click="cancel()">
			Cancel
		</super-navbar-button>

	    <super-navbar-title>
	      My Items
	    </super-navbar-title>
	</super-navbar>


	<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
	<div ng-hide="showSpinner">
<!--
        <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your phone number</span>
	 <input type="text" ng-model="userPhoneNum"/>
	</label>
	
         <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your password</span>
	 <input type="text" ng-model="userPhoneNum"/>	
	</label>

-->
         
    <a ng-repeat="mitem in myitems" class="item item-thumbnail-left item-button-right" href="#">
  <img   src= {{mitem.picture}}>
  
        <h2 > {{mitem.title}}</h2>
        <p style="white-space: normal; width: 14em"> {{mitem.description}}</p>
        <div class="buttons">
          <div class="col col-center padding-top">
            <super-modal-show location="Good4Trade#index">
              <button class="button button-large button-outline button-balanced" ng-click="showMatch()">
                Offer
              </button>
            </super-modal-show>
          </div>
        </div>
      </a>

