<div ng-controller="DescriptionController">
  <super-navbar>
    <super-navbar-title>
      Description
    </super-navbar-title>
    <super-navbar-button class="item-icon-right" side="right" location="Good4Trade#addItem">
     Add
    </super-navbar-button>
  </super-navbar>

  
  	<div class="item item-divider" style="text-align: center">
  		{{iTitle}}
  	</div>
  	
  	<div class="item item-image">
  		<img src={{iPicture}} />
  	</div>
  	
  	<div class="item item-divider" style="text-align: center">
  		Description
  	</div>
  	
  	<div class="item">
  		{{iDescription}}
  	</div>
  	
  	<div class="item item-divider" style="text-align: center">
  		What they want for it...
  	</div>
  	
  	<div class="item">
  		{{iWishList}}
  	</div>

    <button class="button icon-left super-ios7-heart-outline button-block button-calm" id="heartbutton" ng-click="editFavorite('heartbutton')">
                      Like
    </button>
</div>
