<div ng-controller="DescriptionController">
  <super-navbar>
    <super-navbar-title>
      Description
    </super-navbar-title>
  </super-navbar>

  
  	<div class="item item-divider" style="text-align: center">
  		{{iTitle}}
  	</div>
  	
  	<div class="item item-image">
  		<img src={{iPicture}} />
  	</div>
  	
  	<div class="item item-divider" style="text-align: center">
  		Description
  	</div>
  	
  	<div class="item">
  		{{iDescription}}
  	</div>
  	
  	<div class="item item-divider" style="text-align: center">
  		What I want for it...
  	</div>
  	
  	<div class="item">
  		{{iWishList}}
  	</div>
</div>
