<div ng-controller="ItemsController">
	<super-navbar>
	<!--
	    <super-navbar-button ng-click="cancel()">
			Cancel
		</super-navbar-button>
	-->
	    <super-navbar-title>
	      My Items
	    </super-navbar-title>
	</super-navbar>


	<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
	<div ng-hide="showSpinner">
<!--
        <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your phone number</span>
	 <input type="text" ng-model="userPhoneNum"/>
	</label>
	
         <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your password</span>
	 <input type="text" ng-model="userPhoneNum"/>	
	</label>

-->

  <div class="col col-33 col-offset-33">
    <button class="button button-clear button-calm" ng-click="refresh()">
            click to refresh
    </button>
  </div>
    <div ng-repeat="mitem in myitems" class="list card">
    	<super-navigate location="Good4Trade#myItemDescription" data-params-id="{{mitem.id}}">
    		<div class="item item-thumbnail-left item-button-right">
    			<img class="full-image" src={{mitem.picture}}>
    			<h2>{{mitem.title}}</h2>
    			<p style="white-space: nowrap; width: 10em">{{mitem.description}}</p>
      			<div class="buttons">
        			<div class="col col-center padding-top">
          				<super-navigate-back>
              				<button class="button icon-left super-happy button-large button-clear button-calm" ng-click="addToOfferList(mitem.myItem)">
                				Offer
              				</button>
            			</super-navigate-back>
        			</div>
      			</div>
    		</div>
    	</super-navigate>
     </div>
<!--    <a ng-repeat="mitem in myitems" class="item item-thumbnail-left item-button-right" href="#">
  <img   src= {{mitem.picture}}>
  
        <h2 > {{mitem.title}}</h2>
        <p style="white-space: nowrap; width: 10em"> {{mitem.description}}</p>
        <super-navigate location="Good4Trade#itemDescription" data-params-id="{{mitem.id}}">
      <button class="button button-small button-outline button-positive">More...</button>
      </super-navigate>
        <div class="buttons">
          <div class="col col-center padding-top">
            <super-modal-show location="Good4Trade#index">
              <button class="button button-large button-outline button-balanced" ng-click="addToOfferList(mitem.myItem)">
                Offer
              </button>
            </super-modal-show>
          </div>
        </div>
      </a> -->

</div>