<div ng-controller="ItemsController">
	<super-navbar>
		<super-navbar-button ng-click="cancel()">
			Cancel
		</super-navbar-button>
	    <super-navbar-title>
	      Your Items
	    </super-navbar-title>
	</super-navbar>
	<div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
	<div ng-hide="showSpinner">
	
        <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your phone number</span>
	 <input type="text" ng-model="userPhoneNum"/>
	</label>
	
         <label class="item item-input item-stacked-label">
	 <span class="input-label"> Please enter your password</span>
	 <input type="text" ng-model="userPhoneNum"/>
	</label>
         
         

         <div class="list">
		<a class="item item-thumbnail-left item-button-right" href="#">
			<img src='/images/minimoto.jpg'>
    	    <h2>Mini Motorcycle</h2> 
    	    <p>Orange Monster design.</p>
    	    <div class="buttons">
    	      <div class="col col-center padding-top">
    	        <super-modal-hide>
    	        	<button class="button button-large button-outline button-positive" ng-click="showMatch()">
    	        		Offer
    	        	</button>
    	        </super-modal-hide>
    	      </div>
    	    </div>
    	</a>
    	<a class="item item-thumbnail-left item-button-right" href="#">
			<img src='/images/babymonitor.jpg'>
    	    <h2>Baby Monitor</h2> 
    	    <p>No description given.</p>
    	    <div class="buttons">
    	      <div class="col col-center padding-top">
    	        <super-modal-hide>
    	        	<button class="button button-large button-outline button-positive">
    	        		Offer
    	        	</button>
    	        </super-modal-hide>
    	      </div>
    	    </div>
    	</a>
    	<a class="item item-thumbnail-left item-button-right" href="#">
			<img src='/images/oldblackberry.JPG'>
    	    <h2>Blackberry</h2> 
    	    <p>Blackberry 7290</p>
    	    <div class="buttons">
    	      <div class="col col-center padding-top">
    	        <super-modal-hide>
    	        	<button class="button button-large button-outline button-positive">
    	        		Offer
    	        	</button>
    	        </super-modal-hide>
    	      </div>
    	    </div>
    	</a>
    </div>
</div>
