<div ng-controller="IndexController">
    <super-navbar>
      <super-navbar-title>
        Matched Items
      </super-navbar-title>
    <super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>

    </super-navbar>

  <div style="text-align: center">
    <button class="button button-clear button-calm" ng-click="refresh()">
            click to refresh
    </button>
  </div>
    <a ng-repeat="mitem in matchedItemList" class="list card" >
    <div class="card">

	  <div class="item item-avatar">
	    <img src={{mitem.myItemPicture}}>
	    <h2>You traded your {{mitem.myItemTitle}}</h2>
	  </div>

	  <div class="item item-avatar">
	    <img src= {{mitem.matchedItemPicture}}>
	    	<h2> for a {{mitem.matchedItemTitle}}</h2>
	    	<p style="white-space: normal">{{mitem.matchedItemContact}}</p>
	  </div>

    <div class="button-bar" width=400 height=500>
	  <button ng-click="tradeCompleted(mitem.myItem, mitem.matchedItem)" class="button icon-left super-checkmark-round button-calm"> Complete </button>
	  
	  <button ng-click="tradeCancelled(mitem.myItem, mitem.matchedItem)" class="button icon-left super-close-round button-calm"> Cancel </button>
	  </div>

    </div>
    </a>


</div>
