<div ng-controller="IndexController">
    <super-navbar>
     <!--
      <super-navbar-button ng-click="cancel()">
        Cancel
      </super-navbar-button>
    -->
    <!--
    <super-navbar-button class="item-icon-left" side="left" onClick="supersonic.ui.drawers.open('left')">
     ooo
    </super-navbar-button>
    -->
     <super-navbar-button class="item-icon-right" side="left" ng-click="refresh()">
        Refresh
    </super-navbar-button>
    
      <super-navbar-title>
        My Items
      </super-navbar-title>
      <super-navbar-button class="item-icon-right" side="right" location="Good4Trade#addItem">
        <h3> Add </h3> 
      </super-navbar-button>

    </super-navbar>

    
    <a ng-repeat="mitem in myitems" class="item item-thumbnail-left item-button-right" href="#">
    <img   src= {{mitem.picture}}>
  
        <h2 > {{mitem.title}}</h2>
        <p style="white-space: nowrap; width: 10em"> {{mitem.description}}</p>
        <super-navigate location="Good4Trade#itemDescription" data-params-id="{{mitem.id}}">
      <button class="button button-small button-outline button-positive">More...</button>
      </super-navigate>
        <div class="buttons">
          <div class="col col-center padding-top">
            <super-navigate location="Good4Trade#offered" data-params-id="{{mitem.id}}">
              <button class="button button-large button-outline button-balanced">
                {{mitem.offeredItemsLength}} Offers
              </button>
              </super-navigate>
          </div>
        </div>
      </a>

</div>